<!-- Row start -->
<div class="row">
	<div class="col-xl-12 col-12">
		<h2 class="mb-2">Profile</h2>
		<h6 class="mb-4 fw-normal">
			A collection of settings and information associated with a
			                    user.
		</h6>
	</div>
</div>
<!-- Row end -->

<!-- Row start -->
<div class="row">
	<div class="col-12">
		<div class="card mb-4">
			<div class="card-body">
				<div
					class="bg-primary p-3 rounded-3 mb-4">
					<!-- Row start -->
					<div class="bg-primary-subtle px-4 p-2 rounded-3">
						<div class="row align-items-center">
							<div class="col-auto">
								<img src="assets/tpl/images/user4.png" class="img-5x rounded-circle" alt="Admin Template"/>
							</div>
							<div class="col text-primary">
								<h6>UX Designer</h6>
								<h5 class="m-0 fw-semibold">Usman Saeed</h5>
							</div>
							<div class="col-12 col-md-auto">
								<a href="#!" class="btn btn-primary">
									Follow</a>
							</div>
						</div>
					</div>
					<!-- Row end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Row end -->

<!-- Row start -->
<div class="row">
	<div class="col-xl-6 col-sm-12 col-12">
		<div class="card mb-4">
			<div class="card-header">
				<h5 class="card-title">Projects</h5>
			</div>
			<div class="card-body">
				<div id="projectsGraph"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-sm-12 col-12">
		<div class="card mb-4">
			<div class="card-header">
				<h5 class="card-title">Earnings</h5>
			</div>
			<div class="card-body">
				<div id="earningsGraph"></div>
			</div>
		</div>
	</div>
</div>
<!-- Row end -->

<!-- Row start -->
<div class="row">
	<div class="col-xl-4 col-sm-6 col-12">
		<div class="card mb-4">
			<div class="card-header">
				<h5 class="card-title">Reviews</h5>
			</div>
			<div class="card-body">
				<div class="scroll300">
					<div class="activity-container">
						<div class="d-flex mb-3">
							<div class="text-center me-3">
								<img src="assets/tpl/images/user3.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
							</div>
							<div class="text-start">
								<div class="starReadOnly1 rating-stars mb-3"></div>
								<h6 class="fw-semibold mb-2">
									Best Quality Template
								</h6>
								<p class="mb-2">
									Wow! Amazing work. Lot of features, components
									                                and creative layouts. SAAS dashoard looks
									                                awesome.
								</p>
								<p class="small">
									By,
									<span class="opacity-50">Hayasa Galleher</span>
								</p>
							</div>
						</div>
						<div class="d-flex mb-3">
							<div class="text-center me-3">
								<img src="assets/tpl/images/user4.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
							</div>
							<div class="text-start">
								<div class="starReadOnly1 rating-stars mb-3"></div>
								<h6 class="fw-semibold mb-2">Design Quality</h6>
								<p class="mb-2">
									Excellent template, great, simple, gorgeous,
									                                also well documented!! Best admin dashboard
									                                sofar.
								</p>
								<p class="small">
									By,
									<span class="opacity-50">Hayasa Galleher</span>
								</p>
							</div>
						</div>
						<div class="d-flex mb-3">
							<div class="text-center me-3">
								<img src="assets/tpl/images/user1.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
							</div>
							<div class="text-start">
								<div class="starReadOnly2 rating-stars mb-3"></div>
								<h6 class="fw-semibold mb-2">
									Feature Availability
								</h6>
								<p class="mb-2">
									AdminPro massively increased our ability to get
									                                a maintainable management UI built out quickly.
									                                We've been extremely pleased with code quality
									                                and flexibility of the template, and have
									                                "remixed" a number of components into new views.
								</p>
								<p class="small">
									By,
									<span class="opacity-50">Hayasa Galleher</span>
								</p>
							</div>
						</div>
						<div class="d-flex mb-3">
							<div class="text-center me-3">
								<img src="assets/tpl/images/user5.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
							</div>
							<div class="text-start">
								<div class="starReadOnly1 rating-stars mb-3"></div>
								<h6 class="fw-semibold mb-2">
									Documentation Quality
								</h6>
								<p class="mb-2">
									The design is very good, there are lot of
									                                components inbuilt and much more. This product
									                                is good value for money. Congrats for the team.
								</p>
								<p class="small">
									By,
									<span class="opacity-50">Hayasa Galleher</span>
								</p>
							</div>
						</div>
						<div class="d-flex mb-3">
							<div class="text-center me-3">
								<img src="assets/tpl/images/user.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
							</div>
							<div class="text-start">
								<div class="starReadOnly3 rating-stars mb-3"></div>
								<h6 class="fw-semibold mb-2">
									Great Admin Template
								</h6>
								<p class="mb-2">
									Great admin theme, was impressed by the level of
									                                details in the design and on the number of
									                                components it offers compared to any other admin
									                                theme.
								</p>
								<p class="small">
									By,
									<span class="opacity-50">Sayera Lee</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-sm-6 col-12">
		<div class="card mb-4">
			<div class="card-header">
				<h5 class="card-title">Chat</h5>
			</div>
			<div class="card-body">
				<div class="scroll300">
					<div class="chat-container">
						<div class="d-flex flex-row align-items-start mb-3">
							<div class="text-center me-2">
								<img src="assets/tpl/images/user5.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
								<small class="fw-semibold">Alisa</small>
							</div>
							<div class="text-start">
								<div class="chats-body px-3 py-2 rounded-3 mb-2">
									Explore the history of the classic Lorem Ipsum
									                                passage and generate.
								</div>
								<div class="small opacity-50">08:55AM</div>
							</div>
						</div>
						<div class="d-flex flex-row align-items-start mb-3">
							<div class="text-end">
								<div class="chats-body px-3 py-2 rounded-3 mb-2">
									Explore the history of the classic Lorem Ipsum
									                                passage and generate.
								</div>
								<div class="small opacity-50">08:56AM</div>
							</div>
							<div class="text-center ms-2">
								<img src="assets/tpl/images/user3.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
								<small class="fw-semibold">You</small>
							</div>
						</div>
						<div class="d-flex flex-row align-items-start mb-3">
							<div class="text-center me-2">
								<img src="assets/tpl/images/user5.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
								<small class="fw-semibold">Alisa</small>
							</div>
							<div class="text-start">
								<div class="chats-body px-3 py-2 rounded-3 mb-2">
									Explore the history of the classic Lorem Ipsum
									                                passage and generate.
								</div>
								<div class="small opacity-50">08:56AM</div>
							</div>
						</div>
						<div class="d-flex flex-row align-items-start mb-3">
							<div class="text-end">
								<div class="chats-body px-3 py-2 rounded-3 mb-2">
									Explore the history of the classic Lorem Ipsum
									                                passage and generate.
								</div>
								<div class="small opacity-50">08:57AM</div>
							</div>
							<div class="text-center ms-2">
								<img src="assets/tpl/images/user3.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
								<small class="fw-semibold">You</small>
							</div>
						</div>
						<div class="d-flex flex-row align-items-start mb-3">
							<div class="text-center me-2">
								<img src="assets/tpl/images/user5.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
								<small class="fw-semibold">Alisa</small>
							</div>
							<div class="text-start">
								<div class="chats-body px-3 py-2 rounded-3 mb-2">
									Explore the history of the classic Lorem Ipsum
									                                passage and generate.
								</div>
								<div class="small opacity-50">08:57AM</div>
							</div>
						</div>
						<div class="d-flex flex-row align-items-start mb-3">
							<div class="text-end">
								<div class="chats-body px-3 py-2 rounded-3 mb-2">
									Explore the history of the classic Lorem Ipsum
									                                passage and generate.
								</div>
								<div class="small opacity-50">08:58AM</div>
							</div>
							<div class="text-center ms-2">
								<img src="assets/tpl/images/user3.png" class="img-4x rounded-circle mb-1" alt="Best Admin Templates"/>
								<small class="fw-semibold">You</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-sm-12 col-12">
		<div class="card">
			<div class="card-img">
				<img src="assets/tpl/images/products/product1.jpg" class="card-img-top img-fluid" alt="Admin Dashboard"/>
			</div>
			<div class="card-body">
				<h6 class="fw-semibold mb-2">Bootstrapget</h6>
				<p class="mb-3">
					Bootstrapget specialized in designing and
					                        developing Admin Dashboards, Admin Panels, CRM
					                        Dashboards, and Bootstrap themes.
				</p>
				<div class="d-flex align-items-center">
					<img src="assets/tpl/images/user2.png" class="rounded-circle me-3 img-3x" alt="Admin Dashboards"/>
					<h6 class="m-0">Ilyana Maesi</h6>
				</div>
			</div>
		</div>
	</div>
</div>
